<center>
<img src="../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) – Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with R</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task.__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
df <- read.csv('athlete_events.csv')
head(df)

  ID Name                     Sex Age Height Weight Team           NOC
1 1  A Dijiang                M   24  180    80     China          CHN
2 2  A Lamusi                 M   23  170    60     China          CHN
3 3  Gunnar Nielsen Aaby      M   24   NA    NA     Denmark        DEN
4 4  Edgar Lindenau Aabye     M   34   NA    NA     Denmark/Sweden DEN
5 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
6 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
  Games       Year Season City      Sport
1 1992 Summer 1992 Summer Barcelona Basketball
2 2012 Summer 2012 Summer London    Judo
3 1920 Summer 1920 Summer Antwerpen Football
4 1900 Summer 1900 Summer Paris     Tug-Of-War
5 1988 Winter 1988 Winter Calgary   Speed Skating
6 1988 Winter 1988 Winter Calgary   Speed Skating
  Event                              Medal
1 Basketball Men's Basketball        NA
2 Judo Men's Extra-Lightweight       NA
3 Football Men's Football            NA
4 Tug-Of-War Men's Tug-Of-War        Gold
5 Speed Skating Women's 500 metres   NA
6 Speed Skating Women's 1,000 metres NA

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [3]:
min(df[df$Year == 1996 & df$Sex == 'F',]['Age'], na.rm = TRUE) # female
min(df[df$Year == 1996 & df$Sex == 'M',]['Age'], na.rm = TRUE) # male

[1] 12

[1] 14

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [21]:
new_df = df[df$Year == 2000 & df$Sex == 'M',]
new_df = new_df[!duplicated(new_df$ID),]
round(prop.table(table(new_df$Sport))['Gymnastics'], digits=3) * 100

Gymnastics
       1.5

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [30]:
new_df = df[df$Year == 2000 & df$Sex == 'F' & df$Sport == 'Basketball',]
new_df = new_df[!duplicated(new_df$ID),]
round(mean(new_df$Height), digits=1) # mean
round(sd(new_df$Height), digits=1) # standard deviation

[1] 182.4

[1] 9.1

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [67]:
res = df[df$Year == 2002 & !is.na(df$Weight) & df$Weight == max(df[df$Year == 2002,]['Weight'], na.rm=TRUE),]
res[1,'Sport']

[1] Bobsleigh
66 Levels: Aeronautics Alpine Skiing Alpinism Archery ... Wrestling

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [89]:
new_df = df[df$Name == 'Pawe Abratkiewicz',]
nrow(new_df[!duplicated(new_df$Games),])

[1] 3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [79]:
nrow(df[df$Year == 2000 & df$Team == 'Australia' & df$Sport == 'Tennis' & !is.na(df$Medal) & df$Medal == 'Silver',])

[1] 2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [130]:
switz = nrow(df[df$Year == 2016 & df$Team == 'Switzerland' & !is.na(df$Medal),])
serbia = nrow(df[df$Year == 2016 & df$Team == 'Serbia' & !is.na(df$Medal),])
if (switz < serbia){
    cat('YES')
} else {
    cat('NO') }

YES

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [123]:
new_df = df[df$Year == 2014,]
new_df = new_df[!duplicated(new_df$ID),]
most = 0
m_age = 0
fewest = Inf
f_age = 0

for (n in seq(15, 46, by=10)){
    t = nrow(new_df[new_df$Year == 2014 & new_df$Age >= n & new_df$Age < n + 10 ,])
    if (t > most) {
        most = t
        m_age = n }
    if (0 < t & t < fewest) {
        fewest = t
        f_age = n } }

cat('fewest:', f_age,'-', f_age + 10,'\n')
cat('most:', m_age,'-', m_age + 10)

fewest: 45 - 55
most: 25 - 35

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [128]:
if (nrow(df[df$Season == 'Summer' & df$City == 'Lake Placid',]) > 0) {
    cat('Lake Placid:', 'Yes', '\n')
} else {
    cat('Lake Placid:', 'No', '\n')
}
if (nrow(df[df$Season == 'Winter' & df$City == 'Sankt Moritz',]) > 0) {
    cat('Sankt Moritz:', 'Yes')
} else {
    cat('Sankt Moritz:', 'No')
}

Lake Placid: No
Sankt Moritz: Yes

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [116]:
sports_1995 = df[df$Year == 1995,]
sports_2016 = df[df$Year == 2016,]
abs(nrow(sports_1995[!duplicated(sports_1995$Sport),]) - nrow(sports_2016[!duplicated(sports_2016$Sport),]))

[1] 34